.center-center{
    display: table-cell,
    vertical-align: middle; 
    
}
.font-style-my_love{

    font-family: 'Open Sans', sans-serif"
}

@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css);

.font-style-my-zh {
    font-family: 'cwTeXHei', sans-serif;
}

.home_page{
    background-color:blue;
    border:1px #ccc solid;
}