{% extends "bootstrap/base.html" %}

{% block metas %}
<link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" type="image/x-icon">

<meta charset="utf-8">
{% endblock metas  %}
{% block styles %}
{{super()}}

<link rel="stylesheet"  type="text/css" href="{{ url_for('.static', filename='mystyles.css') }}">

{% endblock %}

{% block scripts %}
{{super()}}
<script type=text/javascript src="{{url_for('static', filename='scripts/d3.min.js') }}"></script>
{% endblock %}


{% block html_attribs %} lang="en"{% endblock %}

{% block navbar %}


<nav class="navbar homepage_nav_bar ">
        <div class="container-fluid">
          <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="glyphicon glyphicon-align-justify text-info" aria-hidden="true" ></span>

            </button>
            <a class="navbar-brand font_style" href="{{url_for('index')}}">
               Penair
            </a>
            {% if current_user.is_authenticated %}
            {% endif %}
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                {% if current_user.name %}
               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><u>Pentair Data</u> <span class="caret"></span></a>
                    <ul class="dropdown-menu nav_size">
                        <li><a class="navbar-text " href="{{url_for('read_mac_list')}}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" ></span>  &nbsp;全部資料 </a></li>
                
                        <li><a class="navbar-text" href="{{url_for('work_order')}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>&nbsp;新增單筆資料 </a></li>

                        <li><a class="navbar-text" href="{{url_for('query_mac')}}"><span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span>&nbsp;查詢/修改單筆資料 </a></li>
                    </ul>
                </li>
                <li class="dropdown text-center">
                  <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><u>{{current_user.name}}</u> <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu nav_size">
                    <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true" ></span>&nbsp;個人設定</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href={{url_for('logout')}}><span class="glyphicon glyphicon-log-out" aria-hidden="true" ></span>&nbsp;用戶登出</a></li>
                  </ul>
                </li>
              {% else %}
                <li><a class="" href="{{url_for('login')}}">login</a></li>
              {% endif %}
              </ul>
          </div>
          <!--<button type="button" class="btn btn-default btn-xs navbar-right">
            <span class="glyphicon glyphicon-align-justify " aria-hidden="true"></span>
          </button>-->
        </div>
      </nav>
{% endblock %}



{% block content %}

<div class="mainboard font-style-my_love" >
  <div class="container-fluid border_line">
    <div class="col-md-8">

    </div>
    <div class="col-md-4 col-md-offset-8 text-right" id>

        <h1 class="">Pentairs </h1>
        <p class="mainboard"><small> Mac_address Record </small></p>
        <!--img src="/static/images/pentair.png"-->
     
    </div>

  </div>
</div>
<div class ="container-fluid">
  <div class="row">
  </div>
</div>
{% endblock %}
