{% extends "index.html" %}
{% block script %}
{{super()}}

<script type=text/javascript>

</script>
{% endblock %}
{% block styles%}
{{super()}}
{% endblock %}

{% block content%}

<div class="container">
    <div class="col-md-5 col-md-offset-3">

    
        <div class="list-group">                        
            {% with messages = get_flashed_messages()%}
                {% if messages %}
                    <ul class="alert alert-danger">
                        {% for message in messages %}
                        <li class="danger">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <br>
        <div class="panel panel-default">
            

            <div class="panel-heading">
                <h2 class="panel-title text-center">使用者登入</h2>
            </div> 
            <br>  
            <form action="" method="post" class="form-horizontal">
                <div class="panel-body ">
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            {{form.username.label}}
                        </div>
                        <div class="col-sm-6 col-sm-offset-1">
                            {{form.username(class_="form-control")}}
                        </div>    
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            {{form.password.label}}
                        </div>
                        <div class="col-sm-6 col-sm-offset-1">
                            {{form.password(class_="form-control")}}
                        </div>    
                        {{form.csrf_token}}
                    </div>
                    <br>

                    <div class="col-sm-5 col-sm-offset-4">
                        <div class="text-right form-group" style="margin-right:55px">
                            <button class="btn btn-group-justified btn-default font-style-my_love">登入</button>
                        </div>
                    </div>

                
            </form>
        </div>
        

    </div>
</div>




{% endblock %}