{% extends "index.html" %}
{% block script %}
{{super()}}

<script type=text/javascript>

</script>
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="form-group">                        
            {% with messages = get_flashed_messages()%}
                {% if messages %}
                    <ul class="list-group">
                        {% for message in messages %}
                        <li >{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form action="" method="post">
                {{form.csrf_token}}
                {{form.username.label}}{{form.username}}
                {{form.password.label}}{{form.password}}
                

            </form>


        
        </div>
    </div>

</div>

{% endblock %}