{% extends "index.html" %}
{% block scripts %}
{{super()}}
<script>   
    // 前端資料庫 
    var mac_data = {{data_d3|safe}};
    var index_mac =[];
    for (var i = 0; i < mac_data.length ; i ++ ){
        if (index_mac.indexOf(mac_data[i].pollet_index) === -1) {
            index_mac.push(mac_data[i]);
        }
    };
    index_mac.sort(function(a,b){ return a.pollet_index-b.pollet_index;});
    var margin = {top:20, right:20, bottom:20, left:40 };
    var canvas_width = $('#canvas').width()-margin.right-margin.left, canvas_height=250, canvas_cal_height=canvas_height-margin.top-margin.bottom;
    var select_name = d3.select('#canvas').append("svg").attr("width", canvas_width).attr("height", canvas_height);
   
    //var select_body = select_name.selectAll("circle").data(index_mac).enter().append("circle");
    //var select_cirle = select_body.attr("cx", function(d,i){return 25+25*i; }).attr("cy", 25).attr("r", 10 ).style("fill", function(d){return color = "green";});
    var x = d3.scaleBand().rangeRound([0,canvas_width]).padding(0.1),y = d3.scaleLinear().rangeRound([canvas_height-margin.bottom-margin.top, 0]).domain([0,50]);
    var stand_x = d3.scaleBand().rangeRound([0,canvas_width]);
    var g = select_name.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    g.append("g")
        .attr("class", "")
        .attr("transform", "translate(0," +canvas_cal_height +")")
        .call(d3.axisBottom(x));
    g.append("g")
        .attr("class", "axis axis--y")
        .call(d3.axisLeft(y).ticks(5))
        .append("text")
    g.append("g").attr("class", "")
        .attr("stroke-dasharray",2)
        .attr("stroke","#b596af")
        .attr("transform", "translate(0,42)")
        .call(d3.axisBottom(stand_x));
    var net = d3.nest().key(function(d){return d.pollet_index;}).entries(index_mac);
    console.log(net)
    x.domain(net.map(function(d){return d.key;}));
    g.selectAll(".bar")
        .data(net)
        .enter().append("rect")
        .attr("class","bar_1")
        .attr("fill",function(d){if(d.values.length==40){return "blue"}else{return "red"}})
        .attr("x",function(d){return x(d.key);})
        .attr("y",function(d){return y(d.values.length);})
        .attr("width", x.bandwidth())
        .attr("height",function(d){return canvas_cal_height-y(d.values.length)});
        
    $(".bar").css('fill','steelblue');
    //$(".bar").hover(function(){(".bar").css('fill','red')});
    $(window).on("resize",function(){
        var resize = $('#canvas').width();
        select_name.attr("width",resize-margin.left);
    });
    // 自動增加 盤數 不想想在後端 寫在前端
    $('#pollet_index').val(parseInt(index_mac.length/40)+1);
    // #question 追加提示字串
    $("html,body").animate({ scrollTop: 100}, 0);
    

</script>
{% endblock %}
{% block styles%}
{{super()}}

{% endblock %}
{% block content%}
{% from "macro.html" import render_field %}

<div class="container-fuild">
    <div class="col-md-12 col-md-offset-3">
        <br>
            <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading justify_panel_title" >
              <h6 class="justify_panel_position text-center">新增 Mac_address</h6>
            </div> 
            <br>  
            <form action="" method="post" class="form-horizontal">
                <div class="panel-body ">
                    <div class="form-group">
                       {{render_field(form.pollet_index)}}  
                        {{render_field(form.work_order)}}  
                        {{render_field(form.date)}}  
                        {{render_field(form.mac_address)}}
                        {{form.csrf_token }}
                    {% if message %}
                    <p class="text-center text-{{message.color}}"> {{message.text}} </p>
                    {% endif %}

                    
                    <div class="col-sm-5 col-sm-offset-4 ">
            
                        <div class="text-center form-group " style="margin:30px">
                            <button class="btn btn_person ">提交</button>
                            
                        </div>
                    </div>          
            </form>
            
        </div>
    </div>

</div>
<div class="container-fuild">
        <div class="row">
            <div class="col-sm-6">
                   <div class="panel panel-info">
                      
                            <div class="panel-heading">
                                    <div class="panel-title text-center panel_title"> 工單號碼&nbsp;<span class="label label-primary">{{form.work_order.data}} </span></div>
                            </div> 
                            <div class="pannel-body">
                                    {% if query_data  %}
                                <div class="text-center" style="margin:20px">
                                     &nbsp; <span class="badge">{{query_data|length}}</span>   &nbsp; 筆資料</p>
                                </div> 
                                    {% else%}
                                <div class="text-center" style="margin:20px">
                                    工單內無資料
                                </div>
                                    {% endif %}
                                </div>
                            </div>
              
          
            </div>
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                            <h2 class="panel-title text-center panel_title"> Check Point </h2>
                    </div> 
                    <div class="pannel-body">
                            <div id="canvas"> 
                                           
                            </div>
                            <div class="text-left text-danger">
                                <ul>
                                        <li> 每盤為40個 </li>
                                        <li> 出現超過40個請點擊盤數修正 </li>

                                </ul>
                            
                            </div>
                    </div>
                    
                </div>   
            </div>  
        </div>
</div>


{% endblock %}