{% extends "index.html" %}
{% block scripts %}
{{super()}}
<script>   
    var mac_data = {{data_d3|safe}};
    var index_mac =[];
    for (var i = 0; i < mac_data.length ; i ++ ){
        if (index_mac.indexOf(mac_data[i].pollet_index) === -1) {
            index_mac.push(mac_data[i].pollet_index);
        }
    }
    check_point_position = [];
    var select_name = d3.select('#canvas').append("svg").attr("width", 350).attr("height", 150);
    var select_body = select_name.selectAll("circle").data(index_mac).enter().append("circle");
    var select_cirle = select_body.attr("cx", function(d,i){return 25+25*i; }).attr("cy", 25).attr("r", 10 ).style("fill", function(d){return color = "green";});
    //var left_div_width = $('#lottos').width(), left_div_height = $('#lottos').height(), left_div_radius=Math.min(left_div_width,left_div_height)/2;
    
    
    //var half_c = d3.select('#lottos').append("svg").attr("width",left_div_width).attr("height",150);
    //var path = d3.arc().outerRadius(left_div_width/10).innerRadius(left_div_width/12).startAngle(-Math.PI/2).endAngle(Math.PI/2);
    //var half_c_c = half_c.append("g").append("path").attr("fill","blue").attr("d",path).attr("transform", "translate(150,150)");

</script>
{% endblock %}
{% block styles%}
<link type=text/css href="{{ url_for('static', filename='css/mac_add.css') }}" rel="stylesheet">
{{super()}}
{% endblock %}
{% block content%}
{% from "macro.html" import render_field %}

<div class="container-fuild">
    <div class="col-md-12 col-md-offset-3">
        <br>
            <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="text-center panel_title"> 新增 Mac_address </div>
            </div> 
            <br>  
            <form action="" method="post" class="form-horizontal">
                <div class="panel-body ">
                    <div class="form-group">
                       {{render_field(form.pollet_index)}}  
                        {{render_field(form.work_order)}}  
                        {{render_field(form.date)}}  
                        {{render_field(form.mac_address)}}
                        {{form.csrf_token }}
                    {% if message %}
                    <p class="text-center text-{{message.color}}"> {{message.text}} </p>
                    {% endif %}
                    <div class="col-sm-5 col-sm-offset-4 ">
                        <div class="text-center form-group " style="margin:30px">
                            <button class="btn btn-info btn-group-justified ">提交</button>
                        </div>
                    </div>          
            </form>
        </div>
    </div>

</div>
<div class="container-fuild">
        <div class="row">
            <div class="col-sm-6">
                   <div class="panel panel-info">
                        <div class="panel-heading">
                                <h2 class="panel-title text-center panel_title"> 資料庫 </h2>
                        </div> 
                        <div class="pannel-body">
                                {% if query_data  %}
                            <div class="text-center" style="margin:20px">
                                工單號碼&nbsp;<span class="label label-primary">{{form.work_order.data}} </span>  &nbsp; <span class="badge">{{query_data|length}}</span>   &nbsp; 筆資料</p>
                            </div> 
                                {% endif %}
                            </div>
                        </div>

            </div>
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                            <h2 class="panel-title text-center panel_title"> 檢查點 </h2>
                    </div> 
                    <div class="pannel-body">
                            <div id="canvas"> 
                                           
                            </div>
                    </div>
                </div>   
            </div>  
        </div>
</div>


{% endblock %}